/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.tagline {
    color: #666;
    font-size: 1.1em;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.experience-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-item .content {
    display: flex;
    flex-direction: column;
}

.experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.company, .duration {
    color: #666;
    margin-bottom: 10px;
}

.description {
    color: #333;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #4CAF50; /* Green */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline .experience-item {
    position: relative;
    border-left: 4px solid #4CAF50; /* Green */
    padding-left: 20px;
}

.timeline .experience-item:last-child {
    border-left: none;
}

.project-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.description {
    color: #333;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    color: #333;
    font-size: 1.5rem;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    font-size: 1rem;
}
/* Add CSS for education section */
.education-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.university, .duration, .grades {
    color: #666;
    margin-bottom: 10px;
}

/* Add CSS for download resume section */
#resume {
    text-align: center;
    margin-bottom: 40px;
}

#resume h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

#resume p {
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049; /* Darker green */
}
